body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 1080px;
    width: 100%;
    padding-bottom: 0px;
}

.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: right 35% bottom 1100%;
}

.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -180px;
}

.lastWork{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 500px;

}
section .lastWork{
    height: 50%;
}


.client{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    height: 50%;
}

h1{
    text-align: center;
}

.half-width {
    width: 40%;
    float: left;
    margin: 2%;
    padding: 180px 2px 80px 70px;
}
.half-width img{
    width: 100%;
    
}
.name-color{

color:#F51678;
font-size: 30px;
padding-bottom: 20px;

}
.top-h{
    padding-bottom: 2px;
}
p{
    color: dimgray;
    padding-bottom: 30px;
}

.bio-para{
    padding-top: 200px;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, #F51678, #F51678);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

a:hover {
    
    text-decoration: none;
    background-image: linear-gradient( 45deg, white, white);
    padding: 10px 20px;
    border-radius: 5px;
    color: #F51678;
    font-weight: 700;
    border: 1px solid #F51678;

    
  }


  .email{
    text-decoration: none;
    background-image: linear-gradient( 45deg, #F51678, #F51678);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    display: inline-block;
    padding: 10px 90px 20px 90px;
}

.email a:hover {
    
    text-decoration: none;
    background-image: linear-gradient( 45deg, white, white);
    padding: 10px 20px;
    border-radius: 5px;
    color: #F51678;
    font-weight: 700;
    border: 1px solid #F51678;

    display: inline-block;
    padding: 10px 90px 20px 90px;
  }


p #email{
    padding: 0%;
}

.lastImg{
    
    float: left;
    margin: 2%;
    padding:  30px;
}

.lastImg :hover{
    border: 1px solid #F51678;
}

.demo{
    width: 300px;
    height: 210px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 5% ;
    background-color: white;
    padding: 10px 10px 100px 30px;
}

.area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}

.hobby{
    padding: 40px 10px 10px 27px;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;

}

.client-text{
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 12px;
}